:root{
    --color-primary-100: rgba(28, 39, 33, 1);
    --color-primary-80:  rgba(28, 39, 33, .8);
    --color-primary-60:  rgba(28, 39, 33, .6);
    --color-secondary-100: rgba(244, 255, 119, 1);
    --color-secondary-80: rgba(244, 255, 119, .8);
    --color-secondary-60: rgba(244, 255, 119, .6);
}

/*************** COLOR *******************/

.primary-100{
    background-color: var(--color-primary-100);
}

.primary-80{
    background-color: var(--color-primary-80);
}

.primary-60{
    background-color: var(--color-primary-60);
}

.color_primary-100{
    color: var(--color-primary-100);
}

.color_primary-80{
    color: var(--color-primary-80);
}

.color_primary-60{
    color: var(--color-primary-60);
}

.secondary-100{
    background-color: var(--color-secondary-100);
}

.secondary-80{
    background-color: var(--color-secondary-80);
}

.secondary-60{
    background-color: var(--color-secondary-60);
}

.color_secondary-100{
    color: var(--color-secondary-100);
}

.color_secondary-80{
    color: var(--color-secondary-80);
}

.color_secondary-60{
    color: var(--color-secondary-60);
}
