@media only screen and (min-width: 601px){
    .l_container {
        width: 100%;
    }
}

@media only screen and (min-width: 993px){
    .l_container {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px){
    .l_container {
        width: 100%;
    }
}
