@import "reset.min.css";
@import "layer.css";
@import "component.css";

/*****************************************/
/**************** TEXT *******************/
/*****************************************/

h1, h2, h3, h4, h5, li, a, span, p{
    font-family: var(--font-primary);
}

a{
    text-decoration: underline;
}

/*****************************************/
/*************** COLOR *******************/
/*****************************************/

.primary-100{
    background-color: var(--color-primary-100);
}

.primary-80{
    background-color: var(--color-primary-80);
}

.primary-60{
    background-color: var(--color-primary-60);
}

.color_primary-100{
    color: var(--color-primary-100);
}

.color_primary-80{
    color: var(--color-primary-80);
}

.color_primary-60{
    color: var(--color-primary-60);
}

.secondary-100{
    background-color: var(--color-secondary-100);
    color: var(--color-primary-100);
}

.secondary-80{
    background-color: var(--color-secondary-80);
    color: var(--color-primary-100);
}

.secondary-60{
    background-color: var(--color-secondary-60);
    color: var(--color-primary-100);
}

.color_secondary-100{
    color: var(--color-secondary-100);
}

.color_secondary-80{
    color: var(--color-secondary-80);
}

.color_secondary-60{
    color: var(--color-secondary-60);
}

/*****************************************/
/*************** CUSTOM ******************/
/*****************************************/

body{
    background-color: var(--color-primary-100);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
}

section{
    position: relative;
}

/*****************************************/
/************** CUSTOM ID ****************/
/*****************************************/

/************* SECTION HOME **************/

#sect-home .l_container > div:nth-child(1){
    background: url('../img/luccelo-restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#sect-home .l_container > div:nth-child(1) .c_img-filter{
    background-color: var(--color-primary-80);
}

@media only screen and (min-width: 601px){
    #sect-home .l_container > div:nth-child(1){
        background: none;
        background-color: var(--color-primary-100);
    }
    
    #sect-home .l_container > div:nth-child(2){
        background: url('../img/luccelo-restaurant.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #sect-home .l_container > div:nth-child(2) .c_img-filter{
        background-color: var(--color-primary-80);
    }
    
    #sect-home .l_container > div:nth-child(3){
        background: url('../img/luccelo-pizza.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #sect-home .l_container > div:nth-child(3) .c_img-filter{
        background-color: var(--color-primary-60);
    }
}

@media (orientation: landscape) and (max-width : 993px){
    #sect-home .l_container > div:nth-child(1){
        background: url('../img/luccelo-restaurant.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    #sect-home .l_container > div:nth-child(1) .c_img-filter{
        background-color: var(--color-primary-80);
    }
}

/************ SECTION CARTE **************/

#sect-carte{
    margin-top: -7.2rem;
    padding-top: 0;
    z-index: 2; 
    height: calc(100% - 6.4rem);
}

#sect-carte.scrolled{
    margin-top: 0;
}

/* !warning! Overloading component */
#sect-carte.scrolled .c_catalogue-title{
    background: none;
}

/* !warning! Overloading component */
#sect-carte.scrolled .c_catalogue-title:hover{
    background: none;
}

/* !warning! Overloading component */
#sect-carte.scrolled .c_aside-information-title{
    background: none;
}

@media only screen and (min-width: 601px){
    #sect-carte{
        overflow: hidden;
    }
}

@media (orientation: landscape) and (max-width : 993px){
    #sect-carte{
        margin-top: -7.2rem;
        padding-top: 0;
        z-index: 2; 
        height: auto;
    }

    #sect-carte{
        overflow: initial;
    }
}
