:root{
    --color-primary-100: rgba(28, 39, 33, 1);
    --color-primary-80:  rgba(28, 39, 33, .8);
    --color-primary-60:  rgba(28, 39, 33, .6);
    --color-primary-hover-100: rgba(184, 75, 36, 1);
    --color-secondary-100: rgba(244, 255, 119, 1);
    --color-secondary-80: rgba(244, 255, 119, .8);
    --color-secondary-60: rgba(244, 255, 119, .6);
    --color-neutral-100: rgba(255, 255, 255, 1);
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Tinos', serif;
    --margin-small: 2rem;
    --margin-medium: 4rem;
    --margin-large: 6rem;
}