:root{
    --color-primary-100: rgba(28, 39, 33, 1);
    --color-primary-80:  rgba(28, 39, 33, .8);
    --color-primary-60:  rgba(28, 39, 33, .6);
    --color-primary-hover-100: rgba(184, 75, 36, 1);
    --color-secondary-100: rgba(244, 255, 119, 1);
    --color-secondary-80: rgba(244, 255, 119, .8);
    --color-secondary-60: rgba(244, 255, 119, .6);
    --color-neutral-100: rgba(255, 255, 255, 1);
    --color-neutral-80: rgba(255, 255, 255, .8);
    --color-neutral-60: rgba(255, 255, 255, .6);
    --color-neutral-40: rgba(255, 255, 255, .4);
    --color-neutral-20: rgba(255, 255, 255, .2);
    --color-neutral-10: rgba(255, 255, 255, .1);
    --color-dark-100: rgba(0, 0, 0, 1);
    --color-dark-80: rgba(0, 0, 0, .8);
    --color-dark-60: rgba(0, 0, 0, .6);
    --color-dark-40: rgba(0, 0, 0, .4);
    --color-dark-20: rgba(0, 0, 0, .2);
    --color-dark-10: rgba(0, 0, 0, .1);
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Tinos', serif;
    --margin-small: 1.6rem;
    --margin-medium: 2rem;
    --margin-large: 2.6rem;
}